flows/flows (1).json
[
    {
        "id": "b6d816dc3234b3dd",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c5d43880b192310f",
        "type": "mqtt in",
        "z": "b6d816dc3234b3dd",
        "name": "Temperature Sensor",
        "topic": "greenhouse/sensors/temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "74cca59af0adec83",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 160,
        "wires": [
            [
                "5d2d5106c658b17c",
                "ecd34d2300dda738"
            ]
        ]
    },
    {
        "id": "5d2d5106c658b17c",
        "type": "ui_gauge",
        "z": "b6d816dc3234b3dd",
        "name": "",
        "group": "f5c260161939d4c6",
        "order": 0,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Temperature (°C)",
        "label": "˚C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "ecd34d2300dda738",
        "type": "debug",
        "z": "b6d816dc3234b3dd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "91337f10cc0337b1",
        "type": "mqtt in",
        "z": "b6d816dc3234b3dd",
        "name": "Humidity Sensor",
        "topic": "greenhouse/sensors/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "74cca59af0adec83",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 280,
        "wires": [
            [
                "5f189248cbd9c8b2",
                "1c27d6453269f9f0"
            ]
        ]
    },
    {
        "id": "5f189248cbd9c8b2",
        "type": "ui_gauge",
        "z": "b6d816dc3234b3dd",
        "name": "",
        "group": "f5c260161939d4c6",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Humidity (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 260,
        "wires": []
    },
    {
        "id": "1c27d6453269f9f0",
        "type": "debug",
        "z": "b6d816dc3234b3dd",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 320,
        "wires": []
    },
    {
        "id": "104c363c13fa0809",
        "type": "mqtt in",
        "z": "b6d816dc3234b3dd",
        "name": "Soil Moisture Sensor",
        "topic": "greenhouse/sensors/soilMoisture",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "74cca59af0adec83",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 440,
        "wires": [
            [
                "6a528241eea881fc",
                "82ee7a9bd0bbd077"
            ]
        ]
    },
    {
        "id": "6a528241eea881fc",
        "type": "ui_gauge",
        "z": "b6d816dc3234b3dd",
        "name": "",
        "group": "f5c260161939d4c6",
        "order": 1,
        "width": "6",
        "height": "6",
        "gtype": "gage",
        "title": "Soil Moisture (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 530,
        "y": 420,
        "wires": []
    },
    {
        "id": "82ee7a9bd0bbd077",
        "type": "debug",
        "z": "b6d816dc3234b3dd",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 480,
        "wires": []
    },
    {
        "id": "3a731be1c41ba01a",
        "type": "mqtt in",
        "z": "b6d816dc3234b3dd",
        "name": "LDR Light Sensor",
        "topic": "greenhouse/sensors/light",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "74cca59af0adec83",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 600,
        "wires": [
            [
                "71ef0c8756710c13",
                "47fc3fa7a49fddfe"
            ]
        ]
    },
    {
        "id": "71ef0c8756710c13",
        "type": "debug",
        "z": "b6d816dc3234b3dd",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 640,
        "wires": []
    },
    {
        "id": "47fc3fa7a49fddfe",
        "type": "ui_chart",
        "z": "b6d816dc3234b3dd",
        "name": "",
        "group": "f5c260161939d4c6",
        "order": 3,
        "width": "6",
        "height": "6",
        "label": "Light Intensity (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "f47e5e7a3d50ed48",
        "type": "mqtt in",
        "z": "b6d816dc3234b3dd",
        "name": "Ultrasonic Water Level Sensor",
        "topic": "greenhouse/sensors/waterLevel",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "74cca59af0adec83",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 220,
        "y": 740,
        "wires": [
            [
                "c5732acd9e41058e",
                "bd6be4a501cb1f02"
            ]
        ]
    },
    {
        "id": "c5732acd9e41058e",
        "type": "debug",
        "z": "b6d816dc3234b3dd",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 780,
        "wires": []
    },
    {
        "id": "bd6be4a501cb1f02",
        "type": "ui_chart",
        "z": "b6d816dc3234b3dd",
        "name": "",
        "group": "f5c260161939d4c6",
        "order": 3,
        "width": "6",
        "height": "6",
        "label": "Water Level (cm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#7c2a00",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "e3c7c0bbd253975b",
        "type": "ui_switch",
        "z": "b6d816dc3234b3dd",
        "name": "",
        "label": "Fan",
        "tooltip": "",
        "group": "63811deb980c0ed5",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "greenhouse/control/fan",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1050,
        "y": 120,
        "wires": [
            [
                "0d13e6d7c4d5b48a",
                "a3bd7213d471a4aa"
            ]
        ]
    },
    {
        "id": "0d13e6d7c4d5b48a",
        "type": "mqtt out",
        "z": "b6d816dc3234b3dd",
        "name": "Fan (Relay + Green LED)",
        "topic": "greenhouse/control/fan",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "74cca59af0adec83",
        "x": 1350,
        "y": 120,
        "wires": []
    },
    {
        "id": "271d6553c45c1fb8",
        "type": "ui_switch",
        "z": "b6d816dc3234b3dd",
        "name": "",
        "label": "Water Pump",
        "tooltip": "",
        "group": "63811deb980c0ed5",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "greenhouse/control/pump",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 1070,
        "y": 240,
        "wires": [
            [
                "eceebf6eb210d410",
                "d2a34b721a8d07ba"
            ]
        ]
    },
    {
        "id": "eceebf6eb210d410",
        "type": "mqtt out",
        "z": "b6d816dc3234b3dd",
        "name": "Water Pump (Relay + Blue LED)",
        "topic": "greenhouse/control/pump",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "74cca59af0adec83",
        "x": 1370,
        "y": 240,
        "wires": []
    },
    {
        "id": "9533f8593704b4cb",
        "type": "mqtt out",
        "z": "b6d816dc3234b3dd",
        "name": "Grow Light (RGB Brightness via PWM)",
        "topic": "greenhouse/control/light",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "74cca59af0adec83",
        "x": 1410,
        "y": 420,
        "wires": []
    },
    {
        "id": "fba88242dc12c81b",
        "type": "ui_slider",
        "z": "b6d816dc3234b3dd",
        "name": "",
        "label": "Grow Light Brightness",
        "tooltip": "",
        "group": "63811deb980c0ed5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "greenhouse/control/light",
        "topicType": "msg",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 1080,
        "y": 420,
        "wires": [
            [
                "9533f8593704b4cb",
                "3f589101ba92418b"
            ]
        ]
    },
    {
        "id": "46708ee0c54b2bfb",
        "type": "mqtt out",
        "z": "b6d816dc3234b3dd",
        "name": "Window Servo Motor",
        "topic": "greenhouse/control/window",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "74cca59af0adec83",
        "x": 1360,
        "y": 560,
        "wires": []
    },
    {
        "id": "cad66aa2a52ce9e9",
        "type": "ui_slider",
        "z": "b6d816dc3234b3dd",
        "name": "",
        "label": "Window Angle (°)",
        "tooltip": "",
        "group": "63811deb980c0ed5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "greenhouse/control/window",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "className": "",
        "x": 1070,
        "y": 560,
        "wires": [
            [
                "46708ee0c54b2bfb",
                "8d0eab6cc0270939"
            ]
        ]
    },
    {
        "id": "d02df5bfd62ee3e9",
        "type": "mqtt in",
        "z": "b6d816dc3234b3dd",
        "name": "Text Status Display",
        "topic": "greenhouse/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "74cca59af0adec83",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1050,
        "y": 700,
        "wires": [
            [
                "d57a0c3099ff849e"
            ]
        ]
    },
    {
        "id": "a3bd7213d471a4aa",
        "type": "debug",
        "z": "b6d816dc3234b3dd",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 60,
        "wires": []
    },
    {
        "id": "d2a34b721a8d07ba",
        "type": "debug",
        "z": "b6d816dc3234b3dd",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 200,
        "wires": []
    },
    {
        "id": "3f589101ba92418b",
        "type": "debug",
        "z": "b6d816dc3234b3dd",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 360,
        "wires": []
    },
    {
        "id": "8d0eab6cc0270939",
        "type": "debug",
        "z": "b6d816dc3234b3dd",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1340,
        "y": 500,
        "wires": []
    },
    {
        "id": "d57a0c3099ff849e",
        "type": "switch",
        "z": "b6d816dc3234b3dd",
        "name": "Check if Low Water",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "Low Water",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Running",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1090,
        "y": 800,
        "wires": [
            [
                "b7aff98bfbe6f440",
                "044cc5996c77c9b4"
            ],
            [
                "044cc5996c77c9b4"
            ]
        ]
    },
    {
        "id": "b7aff98bfbe6f440",
        "type": "ui_toast",
        "z": "b6d816dc3234b3dd",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "Low Water Alert",
        "x": 1420,
        "y": 760,
        "wires": []
    },
    {
        "id": "044cc5996c77c9b4",
        "type": "ui_template",
        "z": "b6d816dc3234b3dd",
        "group": "a54d97ebd4d7aecf",
        "name": "System Status",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"font-size: 20px; font-weight: bold; color: {{msg.payload === 'Running' ? 'green' : 'red'}};\">\nSystem Status: {{msg.payload}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1410,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "74cca59af0adec83",
        "type": "mqtt-broker",
        "name": "CPSProject",
        "broker": "c30803002cec4e11999519dd676b7378.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "51021cc6c974bbdb",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f5c260161939d4c6",
        "type": "ui_group",
        "name": "Sensors",
        "tab": "dfb9730c71bba86f",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "63811deb980c0ed5",
        "type": "ui_group",
        "name": "Actuators",
        "tab": "dfb9730c71bba86f",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a54d97ebd4d7aecf",
        "type": "ui_group",
        "name": "System Status",
        "tab": "dfb9730c71bba86f",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "51021cc6c974bbdb",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "dfb9730c71bba86f",
        "type": "ui_tab",
        "name": "Greenhouse",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]